version: "3.8"

services:
  api:
    build: .
    container_name: test-programmer-backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    container_name: test-programmer-backend-postgres
    environment:
      POSTGRES_DB: test_programmer
      POSTGRES_USER: naufalpujimahdy
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
